                                  /* html, body */               
             
html, body {
  margin: 0;
  padding: 0;
}                        

                                  /* Navbar */

.navbar-container {
  padding: 2%;
  background-color: #131212ef;
  display: flex;
  color: white;
  margin-left: 120px;
}

.navbar-links-div {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: end;
  text-align: end;
}

.navbar-name {
  flex: 1;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  height: 20px;
  font-size: 20px;
  background-color: midnightblue;
}

.navbar-links {
  margin-right: 3%;
  text-decoration: inherit;
  color: inherit;
  font-size: 150%;
  font-style: oblique;
  font-weight: bold;
}

.navbar-links:hover {
  color: gray;
}
                                /* Sidebar */

.sidebar-container {
  background: #131212ef;
  width: 120px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  text-align: center;
  border-top: solid gold 10px;
}

.sidebar-logo-container {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.sidebar-logo-container-name {
  font-size: 25px;
  color: #241244;
  -webkit-text-stroke: .5px gold;
}

.sidebar-nav-container {
  flex: 1;
  font-size: 50px;
}

.sidebar-links-container {
  flex: 1;
}

.sidebar-home-icon:hover {
  color: gold;
  cursor: pointer;
}

.sidebar-profile-icon {
  margin-top: 50px;
}

.sidebar-contact-icon {
  margin-top: 50px;
}

.sidebar-contact-icon:hover {
  color: gold;
  cursor: pointer;
}

.sidebar-profile-icon:hover {
  color: gold;
  cursor: pointer;
}

.sidebar-logo-container-name:hover {
  color: gold;
  cursor: default;
}
                                /* Footer / Sidebar-Links */

.footer-container {
  background-color: #131212ef;
  display: flex;
  height: 140px;
  margin-left: 120px;
}

.footer-left {
  flex: 1;
  margin-top: 40px;
  border-top: solid white;
  margin-left: 40px;
}

.footer-right {
  flex: 1;
  margin-top: 40px;
  border-top: solid white;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.footer-year {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-social-media {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-icons {
  color: white;
  margin-top: 5px;
  margin-left: 1px;
}

.footer-github-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #171515;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.footer-github-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: .7s ease;
}

.footer-linkedin-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0077B5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.footer-linkedin-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: .7s ease;
}

.footer-facebook-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3b5998;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.footer-facebook-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: .7s ease;
}

.footer-contact-info {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-contact-phone {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-contact-email {
  color: white;
  font-family: sans-serif;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

                                /* Home */

.home-container {
  background-color: #241244;
  position: relative;
  color: white;
  margin-left: 120px;
  height: 1327px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-body {
  display: flex;
}

.home-body-left {
  flex: 1;
  width: 75%;
  letter-spacing: 5px;
  line-height: 30px;
  margin-left: 75px;
  margin-top: 200px;
}

.home-body-right {
  flex: 1;
  padding: 11%;
  background: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.18169-9/300834_272480486126177_1583095268_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=b9145c&_nc_ohc=dd9TUYPY-akAX8dpF9J&_nc_ht=scontent-sjc3-1.xx&oh=00_AfB4WrtWXaKU9JeVBlW53fhFv3r16ZgbRvU_JFDnRwEBag&oe=65C3DA44);
  text-align: center;
  background-size: cover;
  background-position: center;
  margin-right: 300px;
  height: 500px;
  transition: 1s ease;
  opacity: .8;
}

.home-body-right:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}

.home-name {
  font-size: 3rem;
}

.home-name:hover {
  font-size: 4rem;
  transition: 1s ease;
  color: gold;
  cursor: default;
}

.home-description {
  font-size: 150%;
  font-family: 'Times New Roman';
}

.home-quote {
  text-align: center;
  font-size: 150%;
  font-style: italic;
}

.home-quote-author {
  text-align: center;
  font-size: 120%;
  font-style: oblique;
}

                                  /* Technical Skills */

.technical-skills-container {
  margin-left: 120px;
  background-color: #241244;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.tech-skills-header {
  color: gold;
  font-size: 60px;
  text-align: center;
}

.tech-skills-grid-div {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-right: 15px;
  margin-top: 100px;
}

.tech-skills-list {
  margin-left: 100px;
  color:#eee;
  font-size: 40px;
  margin-bottom: 200px;
  grid-column: 1;
  grid-row: 1 / 8;
}

.tech-skills-listitem {
  margin-bottom: 50px;
}

.one {
  grid-column: 2;
  grid-row: 2 / 6;
  width: 50px;
}

/* height: 180px;
  background-image: url(./src/images/visual-studio-code-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  rotate: 0deg; */

.vsc-image {
  height: 180px;
}

.two {
  grid-column: 3;
  grid-row: 1 / 6;
  width: 50px;
}

.git-image {
  height: 200px;
}

.three {
  grid-column: 2;
  grid-row: 6 / 6;
  width: 50px;
}

.react-image {
  height: 200px;
}

.four {
  grid-column: 5;
  grid-row: 2 / 6;
  width: 50px;
}

.java-image {
  height: 200px;
  rotate: 10deg;
}

.five {
  grid-column: 4;
  grid-row: 3 / 6;
  width: 50px;
}

.css-image {
  height: 200px;
}

.six {
  grid-column: 3;
  grid-row: 4 / 6;
  width: 50px;
}

.nodejs-image {
  height: 200px;
  rotate: -10deg;
}

.seven {
  grid-column: 5;
  grid-row: 5 / 6;
  width: 50px;
}

.html-image {
  height: 200px;
  rotate: -10deg;
}

.eight {
  grid-column: 4;
  grid-row: 6/6;
  width: 50px;
}

.postgreSQL-image {
  height: 200px;
  rotate: 10deg;
}

                                  /* Projects */

.projects-container {
  margin-left: 120px;
  background-color: #241244;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  height: 1100px;
}

.projects-header {
  font-size: 60px;
  color: gold;
  margin-bottom: 100px;
}

.projects-petstop-div {
  height: 850px;
  display: flex;
  margin-bottom: 50px;
}

.projects-petstop {
  height: 850px;
  display: flex;
}

.petstop-left {
  height: 850px;
  font-size: 24px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.petstop-right {
  height: 850px;
  width: 1000px;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.petstop-right-header {
  border: solid #971978 2px;
  font-size: 22px;
}

.petstop-right-details {
  display: flex;
}

.petstop-right-front-end {
  border: solid #eee 2px;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.petstop-right-back-end {
  border: solid aqua 2px;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.petstop-right-title {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

.petstop-right-desc {
  font-size: 24px;
  line-height: 65px;
}

.petstop-image {
  width: 900px;
}

                                  /* Additional Info */

.additional-info-div {
  margin-left: 120px;
  background-color: #241244;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.additional-info-button {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.arrow-button {
  padding: 8px;
  background-color: #eee;
  margin-bottom: 20px;
}

                                  /* Education */

.education-container {
  background-color: #241244;
  margin-left: 120px;
}
                                    
.education-calpoly-container {
  margin-left: 40px;
  margin-right: 40px;
}
                                    
.education-calpoly-header {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  color: white;
  padding: 0.5%;
}
                                    
.education-calpoly-body {
  display: flex;
  margin-left: 50px;
}
                                    
.education-calpoly-left {
  flex: 1;
  text-align: center;
  background: url(https://upload.wikimedia.org/wikipedia/en/thumb/d/d9/CalPoly_Seal.svg/640px-CalPoly_Seal.svg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: 50px;
  transition: 1s ease;
  opacity: .8;
}

.education-calpoly-left:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.education-calpoly-right {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
  margin-top: 50px;
}

.education-aghs-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.education-aghs-header {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  color: white;
  padding: 0.5%;
}
                                    
.education-aghs-body {
  display: flex;
  margin-right: 50px;
}
                                    
.education-aghs-right {
  flex: 1;
  background: url(https://media2.newtimesslo.com/ntslo/imager/u/original/11083788/news5-1-0eb17f74226d5e4a.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
  margin-top: 50px;
  transition: 1s ease;
  opacity: .8;
}

.education-aghs-right:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.education-aghs-left {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
  margin-bottom: 120px;
  margin-top: 50px;
}

                                  /* Work Experience */

.work-experience-container {
  border-top: solid black;
  background-color: #241244;
  margin-left: 120px;
}
                                    
.work-experience-mechanics-bank-container {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
                                    
.work-experience-mechanics-bank-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-mechanics-bank-body {
  display: flex;
  margin-left: 50px;
}
                                    
.work-experience-mechanics-bank-left {
  flex: 1;
  text-align: center;
  background: url(https://pfac-pro.org/wp-content/uploads/2019/04/Mechanics-bank-768x245.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  transition: 1s ease;
  opacity: .8;
}

.work-experience-mechanics-bank-left:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.work-experience-mechanics-bank-right {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

.work-experience-revasum-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.work-experience-revasum-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-revasum-body {
  display: flex;
  margin-right: 50px;
}
                                    
.work-experience-revasum-right {
  flex: 1;
  background: url(https://eadn-wc03-5926357.nxedge.io/wp-content/uploads/2018/08/Revasum_1024.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease;
  opacity: .8;
}
  
  .work-experience-revasum-right:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
    opacity: 1;
  }
                                    
.work-experience-revasum-left {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

.work-experience-marshalls-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
                                    
.work-experience-marshalls-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-marshalls-body {
  display: flex;
  margin-left: 50px;
  margin-top: 2%;
}
                                    
.work-experience-marshalls-left {
  flex: 1;
  text-align: center;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Marshalls_Logo.svg/2560px-Marshalls_Logo.svg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  transition: 1s ease;
  opacity: .8;
}

.work-experience-marshalls-left:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.work-experience-marshalls-right {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

.work-experience-doc-burnsteins-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.work-experience-doc-burnsteins-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-doc-burnsteins-body {
  display: flex;
  margin-right: 50px;
}
                                    
.work-experience-doc-burnsteins-right {
  flex: 1;
  background: url(https://eadn-wc03-5926357.nxedge.io/wp-content/uploads/2018/08/Doc-Burnsteins-Ice-Cream-Lab_1200.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease;
  opacity: .8;
}

.work-experience-doc-burnsteins-right:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.work-experience-doc-burnsteins-left {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

                                            /* Slider */

.slider-container {
    margin-left: 120px;
    width: 95.18%;
    height: 1100px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slider-wrapper {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background-color: rgb(209, 168, 247);
}

.slide-mechanics-bank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background: url(https://mmimageservice.azurewebsites.net/api/image/property/51575379-5cde-4137-a420-7166f8de9581/L);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-calpoly {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background: url(https://www.calpoly.edu/sites/calpoly.edu/files/styles/width_670px/public/2021-02/OCOB_Mag.jpg?itok=Smxu5Q8D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-fullstack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background: url(https://fsa2-assets.imgix.net/assets/Fullstack_Blog_Image_1280x608-03.png?auto=compress%2Cformat&crop=focalpoint&domain=fsa2-assets.imgix.net&fit=crop&fp-x=0.5&fp-y=0.5&h=570&ixlib=php-3.3.0&w=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-quote-container-mechanics-bank {
  height: 100%;
  flex: 3;
  display: flex;
  justify-content: end;
  margin-top: 70%;
  margin-right: 4%;
}

.slider-quote-container-calpoly {
    height: 100%;
    flex: 3;
    display: flex;
    justify-content: end;
    margin-top: 70%;
    margin-right: 4%;

}

.slider-right-container-fullstack {
    height: 100%;
    flex: 4;
}

.learn-by-doing {
  color: white;
  font-family: Impact;
  font-style: italic;
  font-size: 90px;
  opacity: 80%;
}

.where-relationships-matter {
  color: white;
  font-family: Impact;
  font-style: italic;
  font-size: 90px;
  opacity: 80%;
}

.slider-info-container-calpoly {
  flex: 1;
  margin-bottom: 20%;
  margin-top: 2%;
  border: solid darkgreen 10px;
  border-style: inset;
  background-color: blanchedalmond;
  opacity: 50%;
  width: 50%;
  margin-left: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider-info-container-calpoly:hover {
  opacity: 100%;
}

.slider-info-container-mechanics-bank {
  flex: 1;
  margin-bottom: 20%;
  border: solid darkred 10px;
  border-style: inset;
  background-color: blanchedalmond;
  opacity: 60%;
  width: 50%;
  margin-left: 7%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider-info-container-mechanics-bank:hover {
  opacity: 100%;
}

.slider-info-container-fullstack {
  flex: 1;
  margin-bottom: 20%;
  border: solid grey 10px;
  border-style: inset;
  background-color: white;
  opacity: 50%;
  width: 50%;
  margin-left: 11%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider-info-container-fullstack:hover {
  opacity: 100%;
}

.slider-info-container-title {
    font-size: 70px;
}

.slider-info-container-title-fullstack {
    font-size: 70px;
    padding: 25px;
}

.slider-info-container-description {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 40px;
}

.slider-info-container-button {
    padding: 15px;
    width: 175px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.arrow-left {
  width: 100px;
  height: 100px;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  cursor: pointer;
  opacity: 50%;
  z-index: 2;
  border: none;
}

.arrow-right {
  width: 100px;
  height: 100px;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  cursor: pointer;
  opacity: 50%;
  z-index: 2;
  border: none;
}

                                            /* Contact */

.contact-container {
  margin-left: 120px;
  text-align: center;
  background-color: #241244;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-header {
  font-size: 60px;
  color: gold;
}

.contact-desc {
  color: white;
  width: 450px;
  font-size: 16px;
  letter-spacing: .5px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.contact-form-top {
  padding: 10px;
}

.contact-form-subject {
  margin-bottom: 10px;
}

.contact-form-message {

}

.name-input {
  padding: 15px;
  width: 200px;
  font-size: 16px;
  border-radius: 12px;
  border: solid black 1px;
}

.email-input {
  margin-left: 5px;
  padding: 15px;
  width: 200px;
  font-size: 16px;
  border-radius: 12px;
  border: solid black 1px;
}

.subject-input {
  padding: 15px;
  width: 439px;
  font-size: 16px;
  border-radius: 12px;
  border: solid black 1px;
}

.message-input {
  padding: 15px;
  width: 440px;
  height: 100px;
  font-family: Arial;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: solid black 1px;
}

.contact-form-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 100px;
}

.contact-form-button {
  padding: 12px;
  font-size: 16px;
  font-family: Arial;
  opacity: .7;
  border-radius: 12px;
  border: solid black 1px;
  cursor: pointer;
}

                                    /* Cube */

body {
  padding: 0;
  margin: 0;
  background-color: rgb(139, 201, 228);
  animation: body 1s linear;
}
@keyframes body {
  to {
    background-color: rgb(19, 48, 97);
  }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}

.cube-wrap {
  --size: 50px;
  position: fixed;
  top: 6%;
  left: 2.3%;
  width: 0;
  height: 0;
  perspective: 100vmin;
  min-height: 4vmin;
}
.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
  animation: cube 1s linear;
}
@keyframes cube {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -.5);
  left: calc(var(--size) * -.5);
  display: block;
  border: solid black 1px;
}

.top {
  background-color: green;
  transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.bottom {
  background-color: blue;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.left {
  background-color: red;
  transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.right {
  background-color: orange;
  transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.front {
  background-color: yellow;
  transform: translateZ(calc(var(--size) * .5));
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.back {
  background-color: white;
  transform: translateZ(calc(var(--size) * -.5));
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid {
  display: flex;
  border: solid black 1px;
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

                                        /* Media Home */

@media (max-width: 1920px) {
  .home-container {
    font-size: 14px;
    height: 700px;
  }
}                                        

@media (min-width: 1281px) and (max-width: 1600px) {
  .home-container {
    background-color: coral;
  }
  .home-body-right {
    margin-top: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .home-container {
    background-color: orange;
  }
}

@media (max-width: 900px) {
  .home-container {
    background-color: yellow;
  }
}

@media (max-width: 800px) {
  .home-container {
    background-color: green;
  }
}

@media (max-width: 736px) {
  .home-container {
background-color: blue;
  }
}

@media (max-width: 600px) {
  .home-container {

  }
}

@media (max-width: 480px) {
  .home-container {

  }
}

@media (min-height:901px) and (max-height: 1200px) {
  .home-container {
    height: 1200px;
  }
  .home-body {
    margin-bottom: 200px;
  }
  .home-body-right {
    margin-right: 200px;
    margin-top: 100px;
  }
  .tech-skills-header {
    font-size: 40px;
  }
  .tech-skills-list {
    font-size: 34px;
    margin-left: 50px;
  }
  .vsc-image {
    height: 160px;
  }
  .css-image {
    height: 160px;
  }
  .java-image {
    height: 160px;
  }
  .html-image {
    height: 160px;
  }
  .react-image {
    height: 160px;
  }
  .git-image {
    height: 160px;
  }
  .postgreSQL-image {
    height: 160px;
  }
  .nodejs-image {
    height: 160px;
  }
  .projects-container {
    margin-left: 120px;
    background-color: #241244;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    height: 1100px;
  }

  .projects-header {
    font-size: 40px;
    color: gold;
    margin-bottom: 100px;
  }
  
  .projects-petstop-div {
    height: 850px;
    display: flex;
    margin-bottom: 50px;
  }
  
  .projects-petstop {
    height: 850px;
    display: flex;
  }
  
  .petstop-left {
    height: 850px;
    font-size: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .petstop-right {
    height: 850px;
    width: 825px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .petstop-right-header {
    border: solid #971978 2px;
    font-size: 20px;
  }
  
  .petstop-right-details {
    display: flex;
  }
  
  .petstop-right-front-end {
    border: solid #eee 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-back-end {
    border: solid aqua 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-title {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
  }
  
  .petstop-right-desc {
    font-size: 20px;
    line-height: 65px;
  }
  
  .petstop-image {
    width: 800px;
  }
  .slider-container {
    width: 93.7%;
  }
  .slide-fullstack {
    background-position: right;
  }
  .slider-info-container-fullstack {
    margin-left: 130px;
    margin-bottom: 500px;
  }
  .education-calpoly-left {
    height: 400px;
    margin-top: 120px;
  }
  .education-aghs-right {
    height: 400px;
    margin-top: 120px;
  }
  .work-experience-mechanics-bank-left {
    height: 400px;
    margin-top: 150px;
  }
  .work-experience-marshalls-left {
    height: 450px;
    margin-top: 120px;
  }
  .cube-wrap {
    margin-left: .7%;
  }
}

@media (min-height: 801px) and (max-height: 900px) {
  .home-container {
    height: 900px;
    font-size: 12px;
  }
  .home-body {
    margin-bottom: 100px;
  }
  .home-body-right {
    margin-bottom: 50px;
    height: 400px;
    margin-right: 150px;
  }
  .tech-skills-header {
    font-size: 40px;
  }
  .vsc-image {
    height: 125px;
  }
  .css-image {
    height: 125px;
  }
  .java-image {
    height: 125px;
  }
  .postgreSQL-image {
    height: 125px;
  }
  .git-image {
    height: 125px;
  }
  .react-image {
    height: 125px;
  }
  .html-image {
    height: 125px;
  }
  .nodejs-image {
    height: 125px;
  }
  .tech-skills-list {
    margin-left: 10px;
    font-size: 30px;
  }
  .projects-container {
    margin-left: 120px;
    background-color: #241244;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid black 2px;
    height: 1800px;
  }

  .projects-header {
    font-size: 40px;
    color: gold;
    margin-bottom: 100px;
  }
  
  .projects-petstop-div {
    height: 850px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .projects-petstop {
    height: 850px;
    display: flex;
  }
  
  .petstop-left {
    height: 850px;
    font-size: 18px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .petstop-right {
    height: 850px;
    width: 1000px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .petstop-right-header {
    border: solid #971978 2px;
    font-size: 18px;
  }
  
  .petstop-right-details {
    display: flex;
  }
  
  .petstop-right-front-end {
    border: solid #eee 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-back-end {
    border: solid aqua 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-title {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .petstop-right-desc {
    font-size: 22px;
    line-height: 65px;
  }
  
  .petstop-image {
    width: 850px;
  }
  .slider-container {
    width: 92.4%;
    height: 900px;
  }
  .slider-info-container-mechanics-bank {
    margin-left: 150px;
    margin-bottom: 500px;
  }
  .slider-info-container-calpoly {
    margin-bottom: 600px;
  }
  .slider-info-container-title {
    font-size: 40px;
  }
  .slide-fullstack {
    background-position: right;
  }
  .slider-info-container-fullstack {
    margin-left: 500px;
    margin-top: 0px;
    height: 240px;
    width: 500px;
    margin-bottom: 870px;
    padding: 5px;
  }
  .slider-info-container-title-fullstack {
    font-size: 30px;
    margin-top: 0px;
    height: 0px;
    width: 400px;
  }
  .slider-info-container-description {
    font-size: 14px;
    height: 40px;
  }
  .slider-info-container-button {
    font-size: 10px;
    width: 140px;
  }
  .education-calpoly-left {
    height: 400px;
    margin-top: 120px;
  }
  .education-aghs-right {
    height: 400px;
    margin-top: 120px;
  }
  .work-experience-mechanics-bank-left {
    height: 400px;
    margin-top: 150px;
  }
  .work-experience-marshalls-left {
    height: 450px;
    margin-top: 120px;
  }
  .cube-wrap {
    margin-left: 1.4%;
    margin-top: .5%;
  }
}

@media (min-height: 769px) and (max-height: 800px) {
  .home-container {
    height: 784px;
    font-size: 7px;
  }
  .home-body {
    margin-bottom: 100px;
  }
  .home-body-left {
    margin-bottom: 100px;
  }
  .home-body-right {
    margin-top: 240px;
    height: 300px;
    margin-right: 150px;
  }
  .tech-skills-header {
    font-size: 34px;
  }
  .tech-skills-list {
    font-size: 24px;
    margin-left: 20px;
  }
  .vsc-image {
    height: 100px;
  }
  .css-image {
    height: 100px;
  }
  .java-image {
    height: 100px;
  }
  .html-image {
    height: 100px;
  }
  .react-image {
    height: 100px;
  }
  .git-image {
    height: 100px;
  }
  .postgreSQL-image {
    height: 100px;
  }
  .nodejs-image {
    height: 100px;
  }
  .projects-container {
    margin-left: 120px;
    background-color: #241244;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid black 2px;
    height: 1800px;
  }
  .projects-header {
    font-size: 40px;
    color: gold;
    margin-bottom: 50px;
  }
  .projects-petstop-div {
    height: 1600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .projects-petstop {
    height: 850px;
    display: flex;
  }
  
  .petstop-left {
    height: 850px;
    font-size: 18px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .petstop-right {
    height: 850px;
    width: 1000px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .petstop-right-header {
    border: solid #971978 2px;
    font-size: 18px;
  }
  
  .petstop-right-details {
    display: flex;
  }
  
  .petstop-right-front-end {
    border: solid #eee 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-back-end {
    border: solid aqua 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-title {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .petstop-right-desc {
    font-size: 22px;
    line-height: 65px;
  }
  
  .petstop-image {
    width: 750px;
  }
}

@media (max-height: 768px) {
  .home-container {
    height: 752px;
    font-size: 8px;
  }
  .home-body {
    margin-bottom: 200px;
  }
  .home-body-left {
    line-height: 20px;
  }
  .home-body-right {
    height: 250px;
    padding: 120px;
    margin-top: 260px;
    margin-right: 120px;
  }
  .home-name:hover {
    font-size: 3rem;
  }
  .tech-skills-header {
    font-size: 34px;
  }
  .tech-skills-list {
    font-size: 24px;
    margin-left: 0px;
  }
  .vsc-image {
    height: 100px;
  }
  .css-image {
    height: 100px;
  }
  .java-image {
    height: 100px;
  }
  .html-image {
    height: 100px;
  }
  .react-image {
    height: 100px;
  }
  .git-image {
    height: 100px;
  }
  .postgreSQL-image {
    height: 125px;
  }
  .nodejs-image {
    height: 125px;
  }
  .projects-container {
    margin-left: 120px;
    background-color: #241244;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid black 2px;
    height: 1800px;
  }
  .projects-header {
    font-size: 40px;
    color: gold;
    margin-bottom: 50px;
  }
  .projects-petstop-div {
    height: 1600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .projects-petstop {
    height: 850px;
    display: flex;
  }
  
  .petstop-left {
    height: 850px;
    font-size: 18px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .petstop-right {
    height: 850px;
    width: 1000px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .petstop-right-header {
    border: solid #971978 2px;
    font-size: 18px;
  }
  
  .petstop-right-details {
    display: flex;
  }
  
  .petstop-right-front-end {
    border: solid #eee 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-back-end {
    border: solid aqua 2px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  
  .petstop-right-title {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .petstop-right-desc {
    font-size: 22px;
    line-height: 65px;
  }
  
  .petstop-image {
    width: 750px;
  }
}



