                                /* Navbar */

.navbar-container {
  padding: 2%;
  background-color: #131212ef;
  display: flex;
  color: white;
  margin-left: 120px;
}

.navbar-links-div {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: end;
  text-align: end;
}

.navbar-name {
  flex: 1;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  height: 20px;
  font-size: 20px;
  background-color: midnightblue;
}

.navbar-links {
  margin-right: 3%;
  text-decoration: inherit;
  color: inherit;
  font-size: 150%;
  font-style: oblique;
  font-weight: bold;
}

.navbar-links:hover {
  color: gray;
}
                                /* Sidebar */

.sidebar-container {
  background: #131212ef;
  width: 120px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  text-align: center;
  border-top: solid gold 10px;
}

.sidebar-logo-container {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.sidebar-nav-container {
  flex: 1;
  font-size: 50px;
}

.sidebar-links-container {
  flex: 1;
}

.sidebar-home-icon:hover {
  color: gold;
  cursor: pointer;
}

.sidebar-profile-icon {
  margin-top: 50px;
}

.sidebar-contact-icon {
  margin-top: 50px;
}

.sidebar-contact-icon:hover {
  color: gold;
  cursor: pointer;
}

.sidebar-profile-icon:hover {
  color: gold;
  cursor: pointer;
}

.sidebar-logo-container-name:hover {
  color: gold;
}
                                /* Footer / Sidebar-Links */

.footer-container {
  background-color: #131212ef;
  display: flex;
  height: 140px;
  margin-left: 120px;
}

.footer-left {
  flex: 1;
  margin-top: 40px;
  border-top: solid white;
  margin-left: 40px;
}

.footer-right {
  flex: 1;
  margin-top: 40px;
  border-top: solid white;
  margin-right: 40px;
}

.footer-social-media {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-icons {
  color: white;
  margin-top: 5px;
  margin-left: 1px;
}

.footer-github-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #171515;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.footer-linkedin-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0077B5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.footer-facebook-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3b5998;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

.footer-contact-info {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-contact-phone {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-contact-email {
  color: white;
  font-family: sans-serif;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


                                /* Home */

.home-container {
  background-color: darkslateblue;
  position: relative;
  color: white;
  margin-left: 120px;
}

.home-body {
padding: 10%;
width: 50%;
margin-left: 15%;
}

.home-name {
  font-size: 300%;
}

.home-description {
  font-size: 150%;
  font-family: 'Times New Roman';
}

.home-quote {
  text-align: center;
  font-size: 150%;
  font-style: italic;
}

.home-quote-author {
  text-align: center;
  font-size: 120%;
  font-style: oblique;
}

                                  /* Education */

.education-container {
  background-color: darkslateblue;
  margin-left: 120px;
}
                                    
.education-calpoly-container {
  margin-left: 40px;
  margin-right: 40px;
}
                                    
.education-calpoly-header {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  color: white;
  padding: 0.5%;
}
                                    
.education-calpoly-body {
  display: flex;
  margin-left: 50px;
}
                                    
.education-calpoly-left {
  flex: 1;
  text-align: center;
  background: url(https://upload.wikimedia.org/wikipedia/en/thumb/d/d9/CalPoly_Seal.svg/640px-CalPoly_Seal.svg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: 50px;
  transition: 1s ease;
  opacity: .8;
}

.education-calpoly-left:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.education-calpoly-right {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
  margin-top: 50px;
}

.education-aghs-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.education-aghs-header {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  color: white;
  padding: 0.5%;
}
                                    
.education-aghs-body {
  display: flex;
  margin-right: 50px;
}
                                    
.education-aghs-right {
  flex: 1;
  background: url(https://media2.newtimesslo.com/ntslo/imager/u/original/11083788/news5-1-0eb17f74226d5e4a.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
  margin-top: 50px;
  transition: 1s ease;
  opacity: .8;
}

.education-aghs-right:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.education-aghs-left {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
  margin-bottom: 120px;
  margin-top: 50px;
}

                                  /* Work Experience */

.work-experience-container {
  border-top: solid black;
  background-color: darkslateblue;
  margin-left: 120px;
}
                                    
.work-experience-mechanics-bank-container {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
                                    
.work-experience-mechanics-bank-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-mechanics-bank-body {
  display: flex;
  margin-left: 50px;
}
                                    
.work-experience-mechanics-bank-left {
  flex: 1;
  text-align: center;
  background: url(https://pfac-pro.org/wp-content/uploads/2019/04/Mechanics-bank-768x245.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  transition: 1s ease;
  opacity: .8;
}

.work-experience-mechanics-bank-left:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.work-experience-mechanics-bank-right {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

.work-experience-revasum-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.work-experience-revasum-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-revasum-body {
  display: flex;
  margin-right: 50px;
}
                                    
.work-experience-revasum-right {
  flex: 1;
  background: url(https://eadn-wc03-5926357.nxedge.io/wp-content/uploads/2018/08/Revasum_1024.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease;
  opacity: .8;
}
  
  .work-experience-revasum-right:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease;
    opacity: 1;
  }
                                    
.work-experience-revasum-left {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

.work-experience-marshalls-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
                                    
.work-experience-marshalls-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-marshalls-body {
  display: flex;
  margin-left: 50px;
  margin-top: 2%;
}
                                    
.work-experience-marshalls-left {
  flex: 1;
  text-align: center;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Marshalls_Logo.svg/2560px-Marshalls_Logo.svg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  transition: 1s ease;
  opacity: .8;
}

.work-experience-marshalls-left:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.work-experience-marshalls-right {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

.work-experience-doc-burnsteins-container {
  border-top: solid black;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.work-experience-doc-burnsteins-header {
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 0.5%;
}
                                    
.work-experience-doc-burnsteins-body {
  display: flex;
  margin-right: 50px;
}
                                    
.work-experience-doc-burnsteins-right {
  flex: 1;
  background: url(https://eadn-wc03-5926357.nxedge.io/wp-content/uploads/2018/08/Doc-Burnsteins-Ice-Cream-Lab_1200.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease;
  opacity: .8;
}

.work-experience-doc-burnsteins-right:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
  opacity: 1;
}
                                    
.work-experience-doc-burnsteins-left {
  flex: 1;
  padding: 5%;
  color: white;
  font-size: 150%;
}

                                            /* Slider */

.slider-container {
    margin-left: 120px;
    width: 95.18%;
    height: 1100px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slider-wrapper {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background-color: rgb(209, 168, 247);
}

.slide-mechanics-bank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background: url(https://mmimageservice.azurewebsites.net/api/image/property/51575379-5cde-4137-a420-7166f8de9581/L);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-calpoly {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background: url(https://www.calpoly.edu/sites/calpoly.edu/files/styles/width_670px/public/2021-02/OCOB_Mag.jpg?itok=Smxu5Q8D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-fullstack {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1200px;
    background: url(https://fsa2-assets.imgix.net/assets/Fullstack_Blog_Image_1280x608-03.png?auto=compress%2Cformat&crop=focalpoint&domain=fsa2-assets.imgix.net&fit=crop&fp-x=0.5&fp-y=0.5&h=570&ixlib=php-3.3.0&w=1200);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-quote-container-mechanics-bank {
  height: 100%;
  flex: 3;
  display: flex;
  justify-content: end;
  margin-top: 70%;
  margin-right: 4%;
}

.slider-quote-container-calpoly {
    height: 100%;
    flex: 3;
    display: flex;
    justify-content: end;
    margin-top: 70%;
    margin-right: 4%;

}

.slider-right-container-fullstack {
    height: 100%;
    flex: 4;
}

.learn-by-doing {
  color: white;
  font-family: Impact;
  font-style: italic;
  font-size: 90px;
  opacity: 80%;
}

.where-relationships-matter {
  color: white;
  font-family: Impact;
  font-style: italic;
  font-size: 90px;
  opacity: 80%;
}

.slider-info-container-calpoly {
  flex: 1;
  margin-bottom: 20%;
  margin-top: 2%;
  border: solid darkgreen 10px;
  border-style: inset;
  background-color: blanchedalmond;
  opacity: 50%;
  width: 50%;
  margin-left: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider-info-container-calpoly:hover {
  opacity: 100%;
}

.slider-info-container-mechanics-bank {
  flex: 1;
  margin-bottom: 20%;
  border: solid darkred 10px;
  border-style: inset;
  background-color: blanchedalmond;
  opacity: 60%;
  width: 50%;
  margin-left: 7%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider-info-container-mechanics-bank:hover {
  opacity: 100%;
}

.slider-info-container-fullstack {
  flex: 1;
  margin-bottom: 20%;
  border: solid grey 10px;
  border-style: inset;
  background-color: white;
  opacity: 50%;
  width: 50%;
  margin-left: 11%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slider-info-container-fullstack:hover {
  opacity: 100%;
}

.slider-info-container-title {
    font-size: 70px;
}

.slider-info-container-title-fullstack {
    font-size: 70px;
    padding: 25px;
}

.slider-info-container-description {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 40px;
}

.slider-info-container-button {
    padding: 15px;
    width: 175px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.arrow-left {
  width: 100px;
  height: 100px;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  cursor: pointer;
  opacity: 50%;
  z-index: 2;
  border: none;
}

.arrow-right {
  width: 100px;
  height: 100px;
  background-color: rgb(223, 223, 223);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  cursor: pointer;
  opacity: 50%;
  z-index: 2;
  border: none;
}

.contact-container {
  margin-left: 120px;
  text-align: center;
  background-color: darkslateblue;
}

.contact-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-header {
  color: gold;
}

.contact-desc {
  color: white;
  width: 450px;
  font-size: 16px;
  letter-spacing: .5px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.contact-form-top {
  padding: 10px;
}

.contact-form-subject {
  margin-bottom: 10px;
}

.contact-form-message {

}

.name-input {
  padding: 15px;
  width: 200px;
  font-size: 16px;
}

.email-input {
  margin-left: 5px;
  padding: 15px;
  width: 200px;
  font-size: 16px;
}

.subject-input {
  padding: 15px;
  width: 439px;
  font-size: 16px;
}

.message-input {
  padding: 15px;
  width: 440px;
  height: 100px;
  font-family: Arial;
  font-size: 16px;
  margin-bottom: 20px;
}